{% extends "layout.html" %}
{% block content %}
    <section class="grid-x grid-margin-x">     
      <div class="medium-6 cell">
        <h1>Get all your data from Search Console</h1>
        <h2>Start doing real reporting and analysis of your search data</h2>
        <p class="lead">No more 90 days or 1000 rows limitations! Store all your queries and pages for long term analysis.</b></p>
        <a href="{{ url_for('signup') }}" class="button large">Create your account</a>
        <a href="{{ url_for('about') }}" class="button large hollow">Learn more</a> 
      </div>
      <div class="medium-6 cell">
        <img src="static/img/gsc_tool.jpg">
      </div>
    </section>
{% endblock %}