<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Roboto:400,700" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/foundation.css') }}" rel="stylesheet" >  
  </head>
  <body>
    <header>
    <div class="title-bar" data-responsive-toggle="searchtool" data-hide-for="small" data-responsivetoggle="" style="display: none;">
    <button class="menu-icon" type="button" data-toggle=""></button>
    <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="searchtool">
    <div class="top-bar-left">
    <ul class="menu" >
      <li role="menuitem"><a href="/"><img src="{{ url_for('static', filename='img/keep-search-lg.png') }}"></a></li>
    </ul>
    </div>
    <div class="top-bar-right">
    <ul class="menu">
    <li><a href="/about">About</a></li>
    <li><a href="/logout" class="button">Log out</a></li>
    </ul>
    </div>
    </div>
    </header>
    <main class="grid-container">  
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>