{% extends "layoutlogged.html" %}

{% block content %}

<section class="grid-x grid-margin-x">
<div class="medium-4 cell secondary"> 
  <ul class="vertical menu">
  <li><a href="/settings">Settings</a></li>
</ul>
  {% for message in get_flashed_messages() %}
  <div class="primary callout">
  <p>{{ message }}</p>
  </div>
  {% endfor %}
  <hr>
    <h5>Branded queries by property</h5>
    <ol>
    {% for brand_queries in branded_queries %}
    <li>
      <small><strong>Property:</strong> {{ brand_queries[0]}}</small> <br>
      <small><strong>Brand terms:</strong> {{ brand_queries[1] }}</small>
    </li>
    <hr>
    {% endfor %}
    </ol>
</div>
<div class="medium-8 cell">
  <h2>Ready to extract</h2>
  <h3>Select your property, branded queries to match, and the start to end dates</h3>
  <p>This will generate a csv file in the output folder and record rows into a table in your system.</p>
  <p class="warning callout"><small>Important: Google Search console stores data for 90 days, and last 2 days data is not available. End date should be at least 3 days before today</small></p>
  <div class="callouts">
    <form method="POST" action="/step3" id="properties">
      {{ form.csrf_token }}
      <div class="medium-12 cell">
        {{ form.search_property.label }}
        {% if form.search_property.errors %}
          {% for error in form.search_property.errors %}
            <p class="label warning">{{ error }}</p>
          {% endfor %}
        {% endif %}
        <select name="search_property" form="properties"> 
          {% for o in option_list %}
          <option value="{{ o }}">{{ o }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="medium-12 cell">
        {{ form.brand_queries.label }}
        {% if form.brand_queries.errors %}
          {% for error in form.brand_queries.errors %}
            <span class="label warning">{{ error }}</span>
          {% endfor %}
        {% endif %}
        {{ form.brand_queries(placeholder="Enter your branded queries separated by commas") }}
      </div>
      <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        {{ form.start_date.label }}
        {% if form.start_date.errors %}
          {% for error in form.start_date.errors %}
            <p class="label warning">{{ error }}</p>
          {% endfor %}
        {% endif %}
        {{ form.start_date(placeholder="Use this format 2017-03-01") }}
      </div>
      <div class="medium-6 cell">
        {{ form.end_date.label }}
        {% if form.end_date.errors %}
          {% for error in form.end_date.errors %}
            <p class="label warning">{{ error }}</p>
          {% endfor %}
        {% endif %}
        {{ form.end_date(placeholder="Use this format this 2017-03-01") }}
      </div>
      </div>
      {{ form.submit(class="button") }}
    </form>
  </div>
</div>
</section>

{% endblock %}