{% extends "layoutlogged.html" %}

{% block content %}

<section class="grid-x">
<div class="medium-3 cells secondary"> 
  <ul class="vertical menu">
  <li><a href="/settings">Settings</a></li>
  <li><a href="#">Two</a></li>
</ul>
  {% for message in get_flashed_messages() %}
  <div class="primary callout">
  <p>{{ message }}</p>
  </div>
  {% endfor %}
</div>
<div class="medium-9 cells">
  <h2>Ready to extract</h2>
  <h3>Introduce your properties the start and end dates</h3>
  <p>This will generate a csv file and a database in your system for your property</p>
  <p class="warning callout">Important: Google Search console stores data for 90 days, and last 2 days data is not available.</p>
  <div class="callout secondary">
    <form method="POST" action="/step3" id="properties">
      {{ form.csrf_token }}
      <div class="medium-12 cells">
        {{ form.searchproperty.label }}
        {% if form.searchproperty.errors %}
          {% for error in form.searchproperty.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}
        <select name="searchproperty" form="properties"> 
          {% for o in option_list %}
          <option value="{{ o }}">{{ o }}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="grid-x">
      <div class="medium-6 cells">
        {{ form.start_date.label }}
        {% if form.start_date.errors %}
          {% for error in form.start_date.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.start_date(placeholder="Start date should be like this 2017-03-01") }}
      </div>

      <div class="medium-6 cells">
        {{ form.end_date.label }}
        {% if form.end_date.errors %}
          {% for error in form.end_date.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.end_date(placeholder="End date should be like this 2017-03-01") }}
      </div>
      </div>
      {{ form.submit(class="button") }}
    </form>
  </div>
  <hr>

</div>
</section>

{% endblock %}